<div class="body-container">
  <h1>MY FRINGE <%= Time.now.year %></h1>
  <% if current_user.planners.first.nil? %>
    <p>Hmmm... we don't see any shows in your planner. Head over to your <%= link_to "planner page", planner_path, class: "planners-shows-link" %> to add items from your shortlist into your Fringe Planner.</p>
  <% else %>
    <p><%= current_user.planners.first.performance.show.time_warning %></p>
    <p>Click a calendar icon to export the Fringe event to your personal calendar. </p>
    <div class="planner-index-container">
      <% @planners.each_with_index do |planner, index| %>
        <% if @planners.first == planner ||
              (planner.performance.start > planner.day.to_datetime + 0.25 && @planners[index-1].performance.start < planner.day.to_datetime + 0.25) %>
          <div class="planner-index-column">
            <%= link_to "#{planner.day.strftime('%A %e %B')}", "/planner?day=#{planner.day.strftime('%A')}+#{planner.day.strftime('%e')}+#{planner.day.strftime('%B')}", class: "planners-planner-link" %>
        <% end %>
            <%= render 'pages/planner', planner: planner %>
        <% if @planners[index + 1].nil? ||
              (planner.performance.start < planner.day.to_datetime + 1.25 && @planners[index+1].performance.start > planner.day.to_datetime + 1.25) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
