<div class="body-container">
  <h1>MY FRINGE <%= Time.now.year %></h1>


</div>


<div class="body-container">
  <h1>MY FRINGE <%= Time.now.year %></h1>
  <% if current_user.planners.first.nil? %>
    <p>Hmmm... we don't see any shows in your planner. Head over to your <%= link_to "planner page", planner_path, class: "btn-pink" %> to add items from your shortlist into your Fringe Planner.</p>
  <% else %>
    <p>Click a calendar icon to export each Fringe event to your personal calendar. </p>
    <div class="planner-index-container">
      <% @planners.each_with_index do |planner, index| %>
        <% if @planners.first == planner || planner.date.day != @planners[index - 1].date.day %>
          <div class="planner-index-column">
            <h5><%= planner.date.strftime('%A %e %B')%></h5>
        <% end %>
            <%= render 'pages/planner', planner: planner %>
        <% if @planners[index + 1].nil? || planner.date.day != @planners[index + 1].date.day %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
