<div class="card">
  <div class="card-star-n-image">
    <% if current_user&.following?(show) %>
      <%= link_to unfollow_show_path(show) do  %>
        <i class="fa fa-star star-yellow" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to follow_show_path(show) do  %>
        <i class="fa fa-star star-white" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <%= image_tag(show.original_image, :alt => "#{show.artist}") %>
  </div>
  <div class="card-info card-border <%= show.colour_class %>">
    <h6><%= truncate(show.title, length: 75) %></h6>
    <p><%= show.genre %></p>
    <div class="d-flex">
      <p><i class="fas fa-clock fa-fw" aria-hidden="true"></i> <%= truncate(show.starts, length: 10) %> (<%= show.duration %>) </p>
      <p><i class="fa fa-calendar fa-fw card-dates" aria-hidden="true"></i> <%= truncate(show.dates, length: 30) %></p>
    </div>
    <div class="d-flex justify-content-between">
      <p><i class="fas fa-map-marker-alt fa-fw"></i> <%= truncate(show.venue.name, length: 45) %></p>
      <p>£<%= show.performances.last.price %></p>
    </div>
  </div>
  <%= link_to show_path(show) do %>
    <div class="hid-link"></div>
  <% end %>
</div>
