<div class="card <%= performance.shortlist_clash(@planners, performance) %>">
  <div class="card-star-n-image">
    <% if current_user&.following?(performance.show) %>
      <%= link_to unfollow_show_path(performance.show) do  %>
        <i class="fa fa-star star-yellow" aria-hidden="true"></i>
      <% end %>
    <% else %>
      <%= link_to follow_show_path(performance.show) do  %>
        <i class="fa fa-star star-white" aria-hidden="true"></i>
      <% end %>
    <% end %>
    <%= image_tag(performance.show.original_image, class: "card-show-image", :alt => "performance.show.artist") %>
    <%= image_tag "arrow-left.png", class: "card-arrow" %>
  </div>
  <div class="card-info card-border <%= performance.show.colour_class %>">
    <h6><%= truncate(performance.show.title, length: 70) %></h6>
    <p><%= performance.show.genre %></p>
    <div class="d-flex">
      <p><i class="fas fa-clock fa-fw" aria-hidden="true"></i> <%= truncate(performance.time, length: 15) %></p>
      <p><i class="fa fa-calendar fa-fw card-dates" aria-hidden="true"></i> <%= truncate(performance.show.dates_string, length: 35) %></p>
    </div>
    <div class="d-flex justify-content-between">
      <p><i class="fas fa-map-marker-alt fa-fw"></i> <%= truncate(performance.show.venue.name, length: 40) %></p>
      <p>£<%= performance.show.performances.last.price %></p>
    </div>
  </div>

  <%= link_to performance_planners_path(performance ,@planner, day: params[:day]), class: "planner-in-link", method: :post do  %>
    <div class="hid-link"></div>
  <% end %>
</div>
