<div class="plan <%= planner.performance.show.colour_class %>" style="top: <%= planner.top %>; height: <%= planner.duration %>; width: 100%">
  <div class="planner-card">
    <%= image_tag(planner.performance.show.original_image, :alt => "Flyer image for show", height: planner.duration.to_f/100*1470) %>
    <div class="planner-card-info">
      <div class="card-title-remove">
        <h6><%= truncate(planner.performance.show.title, length: 30) %></h6>
      </div>

      <%= link_to delete_planner_path(planner, day: params[:day]), method: :delete do  %>
        <i class="far fa-hand-point-right planner-remover"></i>
      <% end %>

      <div>
        <p><%= planner.performance.show.genre %></p>
        <div class="d-flex">
          <% dates = ["Aug "] %>
          <% performances = planner.performance.show.performances %>
          <% performances.each_with_index do |performance, index| %>
            <% if index == 0 %>
              <% dates << performances.first.start.strftime("%e").to_i %>
            <% elsif performances[index - 1].start.strftime("%e").to_i + 1  == performance.start.strftime("%e").to_i %>
              <% if performance == performances[-1] %>
                <% dates << "-" %>
                <% dates << performance.start.strftime("%e").to_i %>
              <% end %>
            <% elsif performances[index - 1].start.strftime("%e").to_i == performance.start.strftime("%e").to_i%>
            <% else %>
              <% dates << "-" %>
              <% dates << performances[index - 1].start.strftime("%e").to_i %>
              <% dates << ", " %>
              <% dates << performance.start.strftime("%e").to_i %>
            <% end %>
          <% end %>

          <p><i class="fas fa-clock" aria-hidden="true"></i> <%= performances.first.start.strftime("%H:%M") %></p>
          <p><i class="fa fa-calendar card-dates" aria-hidden="true"></i> <%= truncate(dates.join, length: 35) %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><%= truncate(planner.performance.show.venue.name, length: 50) %></p>
          <p>£<%= performances.last.price %></p>
        </div>
      </div>

    </div>
    <%= link_to show_path(planner.performance.show) do %>
      <div class="hid-link"></div>
    <% end %>
  </div>
</div>

