<div class="plan" style="top: <%= planner.top %>; height: <%= planner.duration %>; width: 100%">
  <div class="planner-card card-hover-out <%= planner.planner_clash(@planners, planner) %>">
    <%= image_tag(planner.performance.show.original_image, :alt => "Flyer image for show", height: planner.duration.to_f/100*1470) %>
    <div class="planner-card-info card-border <%= planner.performance.show.colour_class %> ">
      <!-- <div class="card-title-remove"> -->
      <h6><%= truncate(planner.performance.show.title, length: 30) %></h6>
      <!-- </div> -->
      <div>
        <p><%= planner.performance.show.genre %></p>
        <div class="d-flex">
          <p><i class="fas fa-clock" aria-hidden="true"></i> <%= planner.performance.time %></p>
        </div>
        <div class="d-flex justify-content-between">
          <p><i class="fas fa-map-marker-alt"></i> <%= truncate(planner.performance.show.venue.name, length: 50) %></p>
          <p>£<%= planner.performance.price %></p>
        </div>
      </div>
    </div>

  </div>
  <%= render "walk_time", planner: planner, index: index %>
</div>

