<div class="body-container">
  <h1 class="about-title">About MyFringePlanner</h1>
  <div class="d-flex justify-content-between">
    <div>
      <h2>The Story</h2>
      <hr></hr>

      <div class="about-story">
        <div class="about-story-story">
          <p>Every August, Edinburgh plays host to the magnificent <%= link_to "Fringe", "https://tickets.edfringe.com/" %>, the world’s largest arts festival and most ticketed event after the Olympics. 1000s of shows are performed around the clock, ranging from comedy to cabaret, circus, theatre, dance and more!</p>
          <p>You are thoroughly spoilt for choice but the flip side is the Herculean effort that goes into planning your festival. Fringe-goers are known to painstakingly construct monstrous, heavily formatted spreadsheets that scroll for miles with dozens of shortlisted shows and puzzle-pieced schedules!</p>
          <p>Admittedly I actually bloody love a spreadsheet but all that manual, error-prone work still isn’t ideal so when Pitch Day came round for products to invent, design, code and deploy as a final, 2 week project at <%= link_to "Le Wagon", "https://www.lewagon.com/london" %>, the #1 ranked coding bootcamp on Switchup and Coursereport, myfringeplanner was born!</p>
          <p>Like most Fringe shows, <%= link_to "myfringeplanner", "https://www.myfringeplanner.com/" %> is still a work in progress, but hopefully we'll be fully live with even more features soon...</p>
        </div>
        <div>
          <%= image_tag "about-pain-pic.png", alt: "image of messy graph", class: "about-story-pic" %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <h2>The Team</h2>
  <hr></hr>

  <div class="about-profile">
    <%= image_tag "https://avatars0.githubusercontent.com/u/56324000?v=4", alt: "Dee Lye" %>
    <div>
      <h4>Dee Lye</h4>
      <p>I'm an an ex-investment banker extending my obsessive, sadistic enjoyment of the puzzle-solving nature of programming and hoping to begin a new career as a developer with the ultimate dream being able to work freelance from home or somewhere with a bring-your-dog-to-work policy!</p>
    </div>
  </div>
  <div class="about-profile">
    <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1582206247/s37cq5fva5b7ymbjd7xv.jpg", alt: "Jessica DeWitt" %>
    <div>
      <h4>Jessica DeWitt</h4>
      <p>I'm a recent college grad who worked as a freelance Content Creator. I want to learn code so that I can implement what I write and learn how to do front end development. After the program, I hope to get a job as a junior developer in Norway.</p>
    </div>
  </div>
  <div class="about-profile">
    <%= image_tag "https://avatars1.githubusercontent.com/u/50817798?v=4", alt: "Agisilaos Karkalos" %>
    <div>
      <h4>Agisilaos Karkalos</h4>
      <p>Hi My name is Agis, I am originally from Greece and moved here a few years ago. I have worked since in the hospitality industry and felt like it was time to change my career and give myself another challenge. I am looking forward to learn and meet some new people in the process! ghf!</p>
    </div>
  </div>
  <div class="about-profile">
    <%= image_tag "https://avatars3.githubusercontent.com/u/57145417?v=4", alt: "Jahaira" %>
    <div>
      <h4>Jahaira Castaneda</h4>
      <p>I have four years experience working in the mental health field as a therapist. I find coding to be very creative and have always been fascinated with how websites and applications are built. Looking forward to starting a new career that will challenge and allow me to find new opportunities in the tech industry.</p>
    </div>
  </div>
</div>
