<div class="body-container">
  <h1>About MyFringePlanner</h1>
  <br>
  <div class="d-flex justify-content-between">
    <div>
      <h2>The Story</h2>
      <hr></hr>

      <div class="about-story">
        <div class="about-story-story">
          <p>
            For the last few years, my friends and I have enthusiastically visited Edinburgh for the magnificent Fringe, the world’s largest arts festival and most ticketed event after the Olympic Games! There are 1000s of shows to choose from mainly covering comedy but also cabaret, circus, theatre, dance and much more!
          </p>
          <p>
            You are outrageously spoilt for choice but the flip side of that coin is the Herculean efforts that go into planning your festival. Fringe-goers are known to painstakingly concoct monstrous spreadsheets that scroll for miles due to all their starred shows and arduously puzzle-pieced together schedules, all of which have also been colour-coded, hyperlinked and cut-n-pasted to within an inch of their lives!
          </p>
          <p>
          Admittedly nerds like me actually bloody love a spreadsheet but all that manual, error-prone labour isn’t ideal and thus when ideas were needed for web products to invent, design, code and deploy for our final 2 week project at Le Wagon, the #1 ranked coding bootcamp on Switchup and Coursereport, myfringeplanner was born!
          </p>
        </div>
        <div>
          <%= image_tag "about-pain-pic.png", alt: "image of messy graph", class: "about-story-pic" %>
        </div>
      </div>
    </div>
  </div>

  <br>

  <h2>The Team</h2>
  <hr></hr>

  <div class="about-profile">
    <%= image_tag "https://avatars0.githubusercontent.com/u/56324000?v=4", alt: "Dee Lye" %>
    <div class="about-text">
      <h4>Dee Lye</h4>
      <p>I'm an an ex-investment banker extending my obsessive, sadistic enjoyment of the puzzle-solving nature of programming and hoping to begin a new career as a developer with the ultimate dream being able to work freelance from home or somewhere with a bring-your-dog-to-work policy!</p>
    </div>
  </div>



  <div class="about-profile">
    <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1582206247/s37cq5fva5b7ymbjd7xv.jpg", alt: "Jessica DeWitt" %>
    <div class="about-text">
      <h4>Jessica DeWitt</h4>
      <p>I'm a recent college grad who worked as a freelance Content Creator. I want to learn code so that I can implement what I write and learn how to do front end development. After the program, I hope to get a job as a junior developer in Norway.</p>
    </div>
  </div>



  <div class="about-profile">
    <%= image_tag "https://avatars1.githubusercontent.com/u/50817798?v=4", alt: "Agisilaos Karkalos" %>
    <div class="about-text">
      <h4>Agisilaos Karkalos</h4>
      <p>Hi My name is Agis, I am originally from Greece and moved here a few years ago. I have worked since in the hospitality industry and felt like it was time to change my career and give myself another challenge. I am looking forward to learn and meet some new people in the process! ghf!</p>
    </div>
  </div>



  <div class="about-profile">
    <%= image_tag "https://avatars3.githubusercontent.com/u/57145417?v=4", alt: "Jahaira" %>
    <div class="about-text">
      <h4>Jahaira Castaneda</h4>
      <p>I have four years experience working in the mental health field as a therapist. I find coding to be very creative and have always been fascinated with how websites and applications are built. Looking forward to starting a new career that will challenge and allow me to find new opportunities in the tech industry.</p>
    </div>
  </div>
</div>
