<div class="home-page home-page-w-img" >
  <div class="home-nav">
    <img src="logo.png" alt="logo">
    <div>
      <%= link_to "Sign up", new_user_registration_path, class: "home-btn-sign-up" %>
      <%= link_to "Sign in", new_user_session_path, class: "button" %>
    </div>
  </div>
  <div class="home-title">
    <h1>Create your
      <span class="home-special-font"> Fringe Festival </span>
      <br> planner in minutes.</h1>
  </div>
    <div class="filter-wrapper">
      <%= simple_form_for :filter, url: shows_path, method: :get, class: "form-search d-flex", id: "form-styling" do |f| %>
        <%= f.input :show, label: false, placeholder: "Find Shows", input_html: {class: 'search-show-input' } %>
        <%= f.input :genre, label: false, collection: Show::GENRES, prompt: "Genre", input_html: {class: 'genre-style' } %>
        <%= f.input :start_date, as: :select, collection: 1..31,
                                 label: false, prompt: "Start",
                                 class: 'search-start-date' %>
        <%= f.input :end_date, as: :select, collection: 1..31, label: false,
                               prompt: "End", input_html: { class: 'search-end-date' } %>
        <%= f.submit value: "Search", class: "submit" %>
      <% end %>
    </div>
</div>
<div class="home-page home-work-div">
  <h1>How does it <span class="home-special-font">work</span>?</h1>
  <div class="home-cards">
    <div class="home-card">
      <div class="d-flex">
        <h3 class=home-num>1</h3>
        <h3>Find your shows</h3>
      </div>
      <p>Search by the dates you're attending or look for your favorite artists. You can view discounts, venue locations, and more! All the Fringe listings are available here!</p>
    </div>
    <div class="home-card">
      <div class="d-flex">
        <h3 class="home-num">2</h3>
        <h3>Create Shortlist</h3>
      </div>
      <p>Your shortlist is easily accessible so you can compare your favorite shows with your friends and decide which shows to keep or discard.</p>
    </div>
    <div class="home-card">
      <div class="d-flex">
        <h3 class="home-num">3</h3>
        <h3>Make your Planner</h3>
      </div>
      <p>Drag items from your shortlist to your planner to find out the walk time between destination and visualize where your gaps and conflicts are throughout the day.</p>
    </div>
  </div>
</div>
