<div class="home-page home-page-w-img" >
  <div class="home-nav">
    <%= image_tag "logov1.png", alt: "myfringeplanner logo" %>
    <div>
      <%= link_to "Sign up", new_user_registration_path, class: "home-btn-sign-up" %>
      <%= link_to "Log in", new_user_session_path, class: "button" %>
    </div>
  </div>
  <div class="home-title">
    <h1>Create your
      <span class="home-special-font"> Fringe Festival </span>
      <br> planner in minutes.</h1>
  </div>
    <div class="filter-wrapper">
      <% @collection = [] %>
      <% ("2020/08/01".to_date.."2020/08/31".to_date).each do |date| %>
        <% @collection << date.strftime("%A %B %e") %>
      <% end %>
      <%= simple_form_for :filter, url: shows_path, method: :get, class: "form-search d-flex", id: "form-styling" do |f| %>
        <%= f.input :show, label: false, placeholder: "Find Shows", input_html: {class: 'search-show-input' } %>
        <%= f.input :genre, label: false, collection: Show::GENRES, prompt: "Genre", input_html: {class: 'genre-style' } %>
        <%= f.input :start_date, as: :select, collection: @collection,
                                 label: false, prompt: "First Day",
                                 class: 'search-start-date' %>
        <%= f.input :end_date, as: :select, collection: @collection, label: false,
                               prompt: "Last Day", input_html: { class: 'search-end-date' } %>
        <%= f.submit value: "Search", class: "submit", data: {disable_with: 'Search'}  %>
      <% end %>
    </div>
</div>
<div class="home-page home-work-div">
  <h1>How does it <span class="home-special-font">work</span>?</h1>
  <div class="home-cards">
    <div class="home-card">
      <div class="d-flex">
        <h3 class=home-num>1</h3>
        <h3>Find your shows</h3>
      </div>
      <p>Search by the dates you're attending or look for your favourite shows. View dates, times, venues and more! All the Fringe listings are available here!</p>
    </div>
    <div class="home-card">
      <div class="d-flex">
        <h3 class="home-num">2</h3>
        <h3>Create shortlist</h3>
      </div>
      <p>Your shortlist is easily accessible so you can compare your favourite shows with friends and decide which ones to keep or discard.</p>
    </div>
    <div class="home-card">
      <div class="d-flex">
        <h3 class="home-num">3</h3>
        <h3>Make your planner</h3>
      </div>
      <p>Add items from your shortlist to the planner to check the walk time between shows and visualise where your gaps and conflicts are throughout the day.</p>
    </div>
  </div>
</div>
