<!-- Hide form if start date and end date have values -->
<div class="body-container">
  <div class="planner-search-bar">
    <form id="date-form">
      <select name="day" id="day" class="input-field">
        <% @collection.each do |day| %>
          <option id="select-date" value="<%= day %>"><%= day %></option>
        <% end %>
      </select>
      <button class="button planner-btn" type=>Plan</button>
    </form>
  </div>

  <br>

  <div class="calendar-grid">
    <div class="calendar-grid-header">AUGUST <%= Time.now.year %></div>
    <div><span>F</span></div>
    <div><span>S</span></div>
    <div><span>S</span></div>
    <div><span>M</span></div>
    <div><span>T</span></div>
    <div><span>W</span></div>
    <div><span>T</span></div>
    <div><span>F</span></div>
    <div><span>S</span></div>
    <div><span>S</span></div>
    <div><span>M</span></div>
    <div><span>T</span></div>
    <div><span>W</span></div>
    <div><span>T</span></div>
    <div><span>F</span></div>
    <div><span>S</span></div>
    <div><span>S</span></div>
    <div><span>M</span></div>
    <div><span>T</span></div>
    <div><span>W</span></div>
    <div><span>T</span></div>
    <div><span>F</span></div>
    <div><span>S</span></div>
    <div><span>S</span></div>
    <div><span>M</span></div>
    <a href="#" class="cal-btn" disabled>7</a>
    <a href="#" class="cal-btn" disabled>8</a>
    <a href="#" class="cal-btn" disabled>9</a>
    <a class="cal-btn">10</a>
    <a class="cal-btn">11</a>
    <a class="cal-btn">12</a>
    <a class="cal-btn">13</a>
    <a class="cal-btn">14</a>
    <a class="cal-btn">15</a>
    <a class="cal-btn">16</a>
    <a class="cal-btn">17</a>
    <a class="cal-btn">18</a>
    <a class="cal-btn">19</a>
    <a class="cal-btn">20</a>
    <a class="cal-btn">21</a>
    <a class="cal-btn">22</a>
    <a class="cal-btn">23</a>
    <a class="cal-btn">24</a>
    <a class="cal-btn">25</a>
    <a class="cal-btn">26</a>
    <a class="cal-btn">27</a>
    <a class="cal-btn">28</a>
    <a class="cal-btn">29</a>
    <a class="cal-btn">30</a>
    <a class="cal-btn">31</a>
  </div>

  <br>


  <div class="planner-container">
    <div>
      <h1 class="planner-header">
        MY FRINGE
        <%= link_to shows_path do  %>
          <i class="fa fa-calendar-plus" aria-hidden="true" id="planner-add-cal"></i>
        <% end %>
      </h1>
      <div class="planner-date"><h3><%= @dayname %></h3></div>
      <div class="planner-day">
        <div class="planner">
          <div class="planner-times">
            <p>10:00</p>
            <p>11:00</p>
            <p>12:00</p>
            <p>13:00</p>
            <p>14:00</p>
            <p>15:00</p>
            <p>16:00</p>
            <p>17:00</p>
            <p>18:00</p>
            <p>19:00</p>
            <p>20:00</p>
            <p>21:00</p>
            <p>22:00</p>
            <p>23:00</p>
          </div>

          <div class="day-calendar">
            <% if @planners != false %>
              <% @planners.delete_if{ |planner| planner == false } %>
              <% @planners.sort_by! { |planner| planner.performance.start } %>
              <% @planners.each_with_index do |planner, index| %>
                  <%= link_to delete_planner_path(id: planner.id, day: params[:day]), method: :delete do  %>
                    <%= render "planner", planner: planner, index: index%>
                  <% end %>
              <% end %>
            <% end %>
          </div>

          <div class="planner-times">
            <p>10:00</p>
            <p>11:00</p>
            <p>12:00</p>
            <p>13:00</p>
            <p>14:00</p>
            <p>15:00</p>
            <p>16:00</p>
            <p>17:00</p>
            <p>18:00</p>
            <p>19:00</p>
            <p>20:00</p>
            <p>21:00</p>
            <p>22:00</p>
            <p>23:00</p>
          </div>
        </div>
      </div>
      <div class="planner-footer"></div>
    </div>

    <div class="planner-shortlist">
      <h1 class="planner-header">SHORTLIST</h1>
      <div>
        <% if params[:day] == "Choose date..." || !params[:day].present? %>
          <p>Choose a date to start planning!</p>
        <% elsif @performances == [] && @planners != [] %>
          <p>Find more shows to add to your shortlist!</p>
          <br>
          <h1 class="planner-header">PLANNED VENUES</h1>
          <div id="planner-map"
            class="planner-map"
            style="width: 100%; height: 300px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <% elsif @performances == [] %>
          <p>Looks like you need to add shows to your shortlist!</p>
        <% end %>

        <div class="planner-cards">
          <% @performances.each do |performance| %>
              <%= render 'pages/planner_shortlist', performance: performance %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script style="text/javascript">
  const calendarButtons = document.querySelector(".cal-btn");

  calendarButtons.addEventListener("click", (event) => {

  })
</script>
 -->
