<!-- Hide form if start date and end date have values -->
<div class="body-container">

  <div class="planner-search-bar">
    <form>
      <select name="day" id="day" class="input-field">
        <% @collection.each do |day| %>
          <option value="<%= day %>"><%= day %></option>
        <% end %>
      </select>
      <button class="button" type="submit">Go</button>
    </form>
  </div>

  <h1 class="planner-header">FRINGE <%= Time.now.year %></h1>

  <div class="planner-date"><h3><%= @dayname %></h3></div>

  <div class="container-planner">

    <div class="planner">
      <div class="planner-times">
        <p>10:00</p>
        <p>11:00</p>
        <p>12:00</p>
        <p>13:00</p>
        <p>14:00</p>
        <p>15:00</p>
        <p>16:00</p>
        <p>17:00</p>
        <p>18:00</p>
        <p>19:00</p>
        <p>20:00</p>
        <p>21:00</p>
        <p>22:00</p>
        <p>23:00</p>
      </div>

      <div class="day-calendar">
        <% @planners.each do |planner| %>
          <%= render "planner", planner: planner %>
        <% end %>
      </div>

      <div class="planner-times">
        <p>10:00</p>
        <p>11:00</p>
        <p>12:00</p>
        <p>13:00</p>
        <p>14:00</p>
        <p>15:00</p>
        <p>16:00</p>
        <p>17:00</p>
        <p>18:00</p>
        <p>19:00</p>
        <p>20:00</p>
        <p>21:00</p>
        <p>22:00</p>
        <p>23:00</p>
      </div>
    </div>

    <div class="planner-shortlist">
      <% @performances.each do |performance| %>
        <%= link_to performance_planners_path(performance ,@planner, day: params[:day]), method: :post do  %>
          <div class="w250">
            <p><%= performance.show.title %></p>
            <p><%= performance.start.strftime('%H:%M') %></p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
