<div class="body-container">
  <div class="planner-search-bar">
    <form id="date-form" hidden>
      <input class="cal-date" name="day" type="text" value="">
      <button class="button planner-btn" type=>Plan</button>
    </form>
  </div>

  <br>

  <div><h3 class="cal-grid-title">AUGUST <%= Time.now.year %></h3></div>
  <div class="cal-grid-days">
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
  </div>
  <div class="cal-grid-dates">
    <button class="cal-grid-date" data-day="day=7" style="border-radius: 0px 0px 0px 5px">7</button>
    <button class="cal-grid-date" data-day="day=8">8</button>
    <button class="cal-grid-date" data-day="day=9">9</button>
    <button class="cal-grid-date" data-day="day=10">10</button>
    <button class="cal-grid-date" data-day="day=11">11</button>
    <button class="cal-grid-date" data-day="day=12">12</button>
    <button class="cal-grid-date" data-day="day=13">13</button>
    <button class="cal-grid-date" data-day="day=14">14</button>
    <button class="cal-grid-date" data-day="day=15">15</button>
    <button class="cal-grid-date" data-day="day=16">16</button>
    <button class="cal-grid-date" data-day="day=17">17</button>
    <button class="cal-grid-date" data-day="day=18">18</button>
    <button class="cal-grid-date" data-day="day=19">19</button>
    <button class="cal-grid-date" data-day="day=20">20</button>
    <button class="cal-grid-date" data-day="day=21">21</button>
    <button class="cal-grid-date" data-day="day=22">22</button>
    <button class="cal-grid-date" data-day="day=23">23</button>
    <button class="cal-grid-date" data-day="day=24">24</button>
    <button class="cal-grid-date" data-day="day=25">25</button>
    <button class="cal-grid-date" data-day="day=26">26</button>
    <button class="cal-grid-date" data-day="day=27">27</button>
    <button class="cal-grid-date" data-day="day=28">28</button>
    <button class="cal-grid-date" data-day="day=29">29</button>
    <button class="cal-grid-date" data-day="day=30">30</button>
    <button class="cal-grid-date" data-day="day=31" style="border-radius: 0px 0px 5px 0px">31</button>
  </div>

  <div class="planner-container">
    <div>
      <h1 class="planner-header">
        MY FRINGE
        <%= link_to planners_path do  %>
          <i class="fa fa-calendar-plus planner-add-cal" aria-hidden="true"></i>
        <% end %>
      </h1>
      <% if @planners != [] %>
        <p style="width: 350px">Click a planned show to remove it from the planner or the export icon above to add to your own calendar.</p>
      <% end %>
      <div class="my-shadow">
        <div class="planner-date"><h3><%= @dayname %></h3></div>
        <div class="planner-day">
          <div class="planner">
            <div class="planner-times">
              <p>06:00</p>
              <p>07:00</p>
              <p>08:00</p>
              <p>09:00</p>
              <p>10:00</p>
              <p>11:00</p>
              <p>12:00</p>
              <p>13:00</p>
              <p>14:00</p>
              <p>15:00</p>
              <p>16:00</p>
              <p>17:00</p>
              <p>18:00</p>
              <p>19:00</p>
              <p>20:00</p>
              <p>21:00</p>
              <p>22:00</p>
              <p>23:00</p>
              <p>00:00</p>
              <p>01:00</p>
              <p>02:00</p>
              <p>03:00</p>
              <p>04:00</p>
              <p>05:00</p>
            </div>
            <div class="day-calendar">
              <% if @planners != false %>
                <% @planners.delete_if{ |planner| planner == false } %>
                <% @planners.sort_by! { |planner| planner.performance.start } %>
                <% @planners.each_with_index do |planner, index| %>
                  <%= link_to delete_planner_path(id: planner.id, day: params[:day]), method: :delete do  %>
                    <div class="plan" style="top: <%= planner.top %>; height: <%= planner.duration %>; width: 100%">
                      <%= render "planner", planner: planner %>
                    </div>
                    <div class="walk-transition" style="top: <%= (planner.top.to_f + planner.duration.to_f).to_s + '%' %>;">
                      <%= render "walk_time", planner: planner, index: index %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="planner-footer"></div>
      </div>
    </div>

    <div class="planner-shortlist">
      <h1 class="planner-header">
        SHORTLIST
        <%= link_to shortlist_path do  %>
          <i class="fas fa-list planner-add-cal" aria-hidden="true"></i>
        <% end %>
      </h1>
      <div>
        <% if !params[:day].present? %>
          <p>Choose a date to start planning!</p>
        <% elsif @performances == [] || @shortlist == [] %>
          <p>Check out the <%= link_to "listings", shows_path, class: "planners-shows-link" %> to find shows for your shortlist!</p>
        <% else %>
          <p>Click a shortlisted show to add it to the planner but careful of performance clashes and insufficient walking times between venues, which will be highlighted in red.</p>
          <div class="planner-cards">
            <% @performances.each do |performance| %>
              <%= render 'pages/planner_shortlist', performance: performance %>
            <% end %>
          </div>
        <% end %>

        <% if @planners != [] %>
          <h1 class="planner-header">PLANNED VENUES</h1>
          <p>Click a marker for show and venue information.</p>
          <div id="planner-map"
            class="planner-map"
            style="width: 100%; height: 300px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // prevents page scrolling when planner scrolling goes beyond its top/bottom limits
  var scrollable = document.querySelector(".planner-day");
  scrollable.addEventListener('wheel', function(event) {
    var deltaY = event.deltaY;
    var contentHeight = scrollable.scrollHeight;
    var visibleHeight = scrollable.offsetHeight;
    var scrollTop = scrollable.scrollTop;

    if (scrollTop === 0 && deltaY < 0)
      event.preventDefault();
    else if (visibleHeight + scrollTop === contentHeight && deltaY > 0)
      event.preventDefault();
  });

  // reloads page in same spot upon webpage refresh
  if (localStorage['scroll']) {
    window.scroll({ top: localStorage['scroll'] })
  }
  window.addEventListener('scroll', () => {
    localStorage['scroll'] = window.scrollY;
  });

  // reloads planner in same spot upon webpage refresh
  scrollable.addEventListener('scroll',function() {
    localStorage.setItem('scrollPosition',scrollable.scrollTop);
  },false);

  window.addEventListener('load',function() {
    if(localStorage.getItem('scrollPosition') !== null)
      $("div.planner-day").scrollTop(localStorage.getItem('scrollPosition'));
  },false);

  // reloads planner 800 pixels from top of div (2pmish)
  // $("div.planner-day").scrollTop(800);
</script>
