<!-- Hide form if start date and end date have values -->
<div class="body-container">
  <div class="planner-search-bar">
    <form id="date-form" hidden>
      <input class="cal-date" name="day" type="text" value="">
      <button class="button planner-btn" type=>Plan</button>
    </form>
  </div>

  <br>

  <div><h3 class="cal-grid-title">AUGUST <%= Time.now.year %></h3></div>
  <div class="cal-grid-days">
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
    <p>T</p>
    <p>W</p>
    <p>T</p>
    <p>F</p>
    <p>S</p>
    <p>S</p>
    <p>M</p>
  </div>
  <div class="cal-grid-dates">
    <button class="cal-grid-date" data-day="day=7" style="border-radius: 0px 0px 0px 5px">7</button>
    <button class="cal-grid-date" data-day="day=8">8</button>
    <button class="cal-grid-date" data-day="day=9">9</button>
    <button class="cal-grid-date" data-day="day=10">10</button>
    <button class="cal-grid-date" data-day="day=11">11</button>
    <button class="cal-grid-date" data-day="day=12">12</button>
    <button class="cal-grid-date" data-day="day=13">13</button>
    <button class="cal-grid-date" data-day="day=14">14</button>
    <button class="cal-grid-date" data-day="day=15">15</button>
    <button class="cal-grid-date" data-day="day=16">16</button>
    <button class="cal-grid-date" data-day="day=17">17</button>
    <button class="cal-grid-date" data-day="day=18">18</button>
    <button class="cal-grid-date" data-day="day=19">19</button>
    <button class="cal-grid-date" data-day="day=20">20</button>
    <button class="cal-grid-date" data-day="day=21">21</button>
    <button class="cal-grid-date" data-day="day=22">22</button>
    <button class="cal-grid-date" data-day="day=23">23</button>
    <button class="cal-grid-date" data-day="day=24">24</button>
    <button class="cal-grid-date" data-day="day=25">25</button>
    <button class="cal-grid-date" data-day="day=26">26</button>
    <button class="cal-grid-date" data-day="day=27">27</button>
    <button class="cal-grid-date" data-day="day=28">28</button>
    <button class="cal-grid-date" data-day="day=29">29</button>
    <button class="cal-grid-date" data-day="day=30">30</button>
    <button class="cal-grid-date" data-day="day=31" style="border-radius: 0px 0px 5px 0px">31</button>
  </div>

  <div class="planner-container">
    <div>
      <h1 class="planner-header">
        MY FRINGE
        <%= link_to planners_path do  %>
          <i class="fa fa-calendar-plus" aria-hidden="true" id="planner-add-cal"></i>
        <% end %>
      </h1>
      <div class="my-shadow">
        <div class="planner-date"><h3><%= @dayname %></h3></div>
        <div class="planner-day">
          <div class="planner">
            <div class="planner-times">
              <p>10:00</p>
              <p>11:00</p>
              <p>12:00</p>
              <p>13:00</p>
              <p>14:00</p>
              <p>15:00</p>
              <p>16:00</p>
              <p>17:00</p>
              <p>18:00</p>
              <p>19:00</p>
              <p>20:00</p>
              <p>21:00</p>
              <p>22:00</p>
              <p>23:00</p>
            </div>

            <div class="day-calendar">
              <% if @planners != false %>
                <% @planners.delete_if{ |planner| planner == false } %>
                <% @planners.sort_by! { |planner| planner.performance.start } %>
                <% @planners.each_with_index do |planner, index| %>
                    <%= link_to delete_planner_path(id: planner.id, day: params[:day]), method: :delete do  %>
                      <div class="plan" style="top: <%= planner.top %>; height: <%= planner.duration %>; width: 100%">
                      <%= render "planner", planner: planner %>
                      <%= render "walk_time", planner: planner, index: index %>
                      </div>
                    <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="planner-footer"></div>
      </div>
    </div>

    <div class="planner-shortlist">
      <h1 class="planner-header">SHORTLIST</h1>
      <div>
        <% if !params[:day].present? %>
          <p>Choose a date to start planning!</p>
        <% elsif @shortlist == [] %>
          <p>Looks like you need shows for your shortlist!</p>
        <% else %>
          <div class="planner-cards">
            <% @performances.each do |performance| %>
                <%= render 'pages/planner_shortlist', performance: performance %>
            <% end %>
          </div>
        <% end %>

        <% if @planners != [] %>
          <h1 class="planner-header">PLANNED VENUES</h1>
          <div id="planner-map"
            class="planner-map"
            style="width: 100%; height: 300px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
