<div class="body-container">
  <h1>Contact Us</h1>

  <div class="contact-us-form">

    <%= simple_form_for @contact do |f| %>
      <% if flash[:error].present? %>
          <p> flash[:error]</p>
      <% end %>

      <div>
      <%= f.input :name, required: true %>
      <%= f.input :email, required: true %>
      <%= f.text_area :message, as: :text, required: true %>
      </div>

      <div class="hidden">
        <%= f.label :nickname %> <br>
        <%= f.input :nickname, hint: "" %>
      </div>

      <%= f.button :submit, 'Send Message', class: "button" %>
    <% end %>

  </div>
</div>
