<div class="simple-calendar">

  <table class="table show-table">
    <thead>
      <tr>
        <td class="calendar-heading" colspan="7"><%= t('date.month_names')[start_date.month].upcase %> <%= start_date.year %></td>
      </tr>

      <tr class="calendar-days-header">
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>S</th>
      </tr>

    </thead>

    <tbody class="calendar-body">
      <% days = @show.performances.map do |performance| %>
        <% performance.start.day %>
      <% end %>


      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>

            <% if days.include?(day.day) %>
              <%= content_tag :td, class: calendar.td_classes_for(day), style: "background-color: #4eacd9;" do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                <% else %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>

            <% else %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
                <% else %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>

            <% end %>



          <% end %>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
