
<div class="container">
    <p>Filter</p>
    <%= simple_form_for :filter, url: shows_path, method: :get, class: "form-search d-flex" do |f| %>
      <%= f.input :show, label: false, placeholder: "Show..." %>
      <%= f.input :genre, label: false, collection: Show::GENRES %>
      <%= f.submit %>
    <% end %>




    <% @shows.each do |show| %>
      <li><%= show.title %> |<%= show.genre %>| (<%= show.performances.map(&:start).join(", ") %>)</li>
    <% end %>
</div>


<!-- # <div class="container">
#   <div class="row">
#     <div class="col-sm-8 offset-sm-2">
#       <div id="shows">

#        </div>
#     </div>
#   </div>
# </div> -->

