<div class="color-chart">
  <p class="color-chart-label color-all">ALL</p>
  <p class="color-chart-label color-comedy">COMEDY</p>
  <p class="color-chart-label color-cabaret-n-variety">CABARET & VARIETY</p>
  <p class="color-chart-label color-circus-etc">CIRCUS, DANCE & PHYSICAL THEATRE</p>
  <p class="color-chart-label color-theatre-etc">THEATRE, MUSICALS & OPERA</p>
  <p class="color-chart-label color-other">OTHER</p>
</div>

<% @shows.each do |show| %>
  <div class="card">
    <!-- Make a button, if following, a click will cause gem to stop following and visa versa. -->
    <!-- Delete shorlist model as a part of the if/else statement -->
    <div class="card-image">
      <% if current_user %>
        <i class="fa fa-star star-yellow" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-star star-gray" aria-hidden="true"></i>
      <% end %>
      <%= show.original_image %>
    </div>
    <div class="card-info">
      <h6><%= show.title %></h6>
      <p><%= show.genre %></p>
      <div>
        <% @performances = Performance.where(show_id: show.id)%>
        <p><%= @performances.first.start %></p>
        <!-- Iterate through performances to find the month and date of occurance -->
        <p><%= @performances.last.end %></p>
      </div>
      <div>
        <p><%= show.venue.name %></p>
        <p>£<%= @performances.last.price %></p>
      </div>
    </div>
  </div>
<% end %>
