<div class="container show-div <%= @show.colour_class %>">
  <div class="show-top">
    <div class="show-image-star-bar">
      <%= image_tag "#{@show.original_image}", alt: "#{@show.title}", class: "show-image" %>
      <div class="show-shortlist-bar">
        <% if current_user&.following?(@show) %>
          <span>REMOVE FROM SHORTLIST</span>
          <%= link_to unfollow_show_path(@show) do %>
            <i class="fa fa-star star-yellow" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <span>ADD TO SHORTLIST</span>
          <%= link_to follow_show_path(@show) do %>
            <i class="fa fa-star star-white" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="show-top-details">
      <div class="show-title-div">
        <%= link_to "#{@show.title}", @show.website, target: :blank, class: "show-title" %>
      </div>
      <div class="show-genre-return">
        <p><%= @show.genre %></p>
      </div>
      <p class="show-description"><%= @show.description %></p>
    </div>
  </div>
  <br>
  <div class="show-bottom card-grid">
    <div class="show-calendar">
      <%= FringeCalendar.new(self, {}).render do |date| %>
        <%= date.day %>
      <% end %>
    </div>
    <div class="show-bottom-details">
      <h4><u>Details</u></h4>
      <p><i class="far fa-clock"></i><%= @show.times %></p>
      <p><i class="fas fa-map-marker-alt"></i> <%= @show.venue.name %> - <%= @show.venue.space %></p>

      <% if @show.performances.last.price == 0 %>
        <p><i class="fas fa-coins"></i>FREE (see <%= link_to "Fringe", @show.website, target: :blank, class: "fringe-link" %> for more details) </p>
      <% else %>
        <p><i class="fas fa-coins"></i>£<%= @show.performances.last.price %> full price (see <%= link_to "Fringe", @show.website, target: :blank, class: "fringe-link" %> for more details) </p>
      <% end %>
      <p><i class="far fa-thumbs-up"></i> <%= @show.age_category %></p>
      <p><i class="fas fa-exclamation-triangle"></i> <%= @show.warnings %></p>
      <p><i class="fas fa-shopping-cart"></i>Check <%= link_to "Fringe", @show.website, target: :blank, class: "fringe-link" %> for availability</p>
    </div>
    <div id="map"
      class="show-map"
      style="width: 250px;
      height: 250px;"
      data-marker="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="show-map">
    </div>
  </div>
</div>
