<div class="container show-div">
  <div class="show-top">
    <div>
      <%= image_tag "#{@show.original_image}", alt: "#{@show.title}" %>
      <div class="show-shortlist-bar">
        <!-- act as follower: change shortlist text accordingly -->
        <span class="show-shortlist">REMOVE FROM SHORTLIST</span><i class="fas fa-star show-star"></i>
      </div>
    </div>

    <div class="show-top-details">
      <h1 class="show-title"><%= @show.title %></h1>
      <p><%= @show.genre %></p>
      <p><%= @show.description %></p>
    </div>

  </div>

  <br><br>

  <div class="show-bottom">
    <div>
      <%= FringeCalendar.new(self, {}).render do |date| %>
        <%= date.day %>
      <% end %>
    </div>

    <div>
      <p>Details</p>
      <p><i class="far fa-clock"></i> TIME (LENGTH)</p>
      <p><i class="fas fa-map-marker-alt"></i> <%= @show.venue.name %> - <%= @show.venue.space %></p>
      <p><i class="fas fa-coins"></i>full price <%= link_to "(see Fringe for full details)", @show.website, target: :blank %> </p>
      <p><i class="far fa-thumbs-up"></i> <%= @show.age_category %></p>
      <p><i class="fas fa-exclamation-triangle"></i> <%= @show.warnings %></p>
    </div>

    <div>
      MAP
    </div>

  </div>
</div>
