<div class="container">
  <div class="show-container">

    <%= link_to "#{@show.website}", target: :blank do %>
      <div class="polaroid">
        <%= image_tag "#{@show.original_image}", alt: "#{@show.artist}" %>
        <h3><%= @show.artist %></h3>
      </div>
    <% end %>

    <div class="show-calendar">
      <%= FringeCalendar.new(self, {}).render do |date| %>
        <%= date.day %>
      <% end %>
    </div>

    <div class="show-header">
      <span class="show-title"><%= @show.title %> (<%= @show.genre %>)</span>
    </div>

  </div>
</div>




